.logoWrap {
  text-align: center;
  line-height: 20px;
  font-family: var(--font-logo);
}
.logoWrap h1 {
  color: var(--primaryColor);
  font-size: 18px;
}
.logoWrap h3 {
  font-size: 15px;
  font-weight: 500;
  color: var(--textLight);
}
