.mainWrapper {
  overflow: hidden;
  position: relative;
}
.mainImage {
  object-fit: cover;
  width: 100%;
  height: 560px;
  z-index: -1;
  margin-bottom: -25px;
}
.short {
  height: 250px;
}
.imageDarkLayer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--imageOverlayDark);
}

.overlayWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  color: var(--textLight);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.overlayWrapper h1 {
  font-size: 50px;
  font-family: var(--font-primary);
}

@media (max-width: 1000px) {
  .mainImage {
    height: 400px;
  }
  .short {
    height: 200px;
  }
}
@media (max-width: 800px) {
  .mainImage {
    height: 350px;
  }
  .short {
    height: 150px;
  }
}
