.lowerWrap {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.187);
}

.lowerWrap p {
  margin: 0 3px;
  z-index: 10;
}

.heart {
  color: var(--red);
  margin: 0 5px 0 3px;
  font-size: 10px;
}
.lowerWrap div {
  margin: 0 1%;
}
.dimmed {
  color: var(--textMedium);
}
.lighted {
  color: var(--textLight);
  z-index: 10;
}

.divider {
  width: 5px;
  height: 5px;
  background-color: var(--textMedium);
  border-radius: 50%;
}

@media (max-width: 650px) {
  .lowerWrap {
    flex-wrap: wrap;
    padding: 0 40px;
  }
}
