.formHead {
  text-align: center;
  margin-top: 100px;
}
.formHead h2 {
  font-family: var(--font-logo);
  color: var(--primaryColor);
}
.formHead h3 {
  font-family: var(--font-primary);
  font-size: 30px;
  color: var(--textDark);
}
.formHead p {
  margin: 30px auto;
}

.form {
  height: 100%;
  width: 80%;
  max-width: 800px;
  min-width: 300px;
  color: var(--darkLight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin: 0 auto 200px auto;
}
.formSent {
  font-size: 50px;
  color: var(--green);
  text-align: center;
  border: 3px solid var(--primaryColor);
  width: 70%;
  margin: 100px auto;
  padding: 100px 0px;
  opacity: 1;
  transition: opacity 1s ease;
}
.none {
  display: none;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.smallInputs {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.input {
  height: 50px;
  padding: 0 20px;
  border: 1px solid var(--darkLight);
  letter-spacing: 1px;
  width: 100%;
}
/* .miniInput {
} */

.input:focus {
  outline: none;
  border: 2px solid var(--primaryColor);
}

.textArea {
  padding-top: 20px;
  height: 200px;
  resize: none;
  width: 100%;
}

.buttonSend {
  margin: 0 auto;
  font-size: 20px;
  width: 200px;
}

@media (max-width: 800px) {
  .form div {
    flex-direction: column;
    gap: 5px;
  }
}
