:root {
  --primaryColor: rgb(231, 164, 81);
  --secondaryColor: rgb(36, 36, 55);

  --backgroundDark: rgba(107, 73, 73, 0);
  --backgroundLight: rgb(255, 255, 255);
  --componentBGLight: rgb(252, 252, 252);
  --componentBGDark: black;
  --burgerNavBackground: white;
  --imageOverlayDark: rgba(0, 0, 0, 0.355);
  --outlineColor: rgb(235, 235, 235);
  --darkLight: rgb(215, 215, 215);
  --pageFrame: rgb(255, 255, 255);

  --textLight: rgb(255, 255, 255);
  --textMedium: #8a8a8a;
  --textDark: rgb(19, 19, 19);

  --green: rgb(40, 186, 40);
  --red: rgb(231, 65, 65);
  --purple: purple;
  --blue: blue;

  --spicy: purple;
  --new: rgb(231, 65, 65);
  --vegan: rgb(40, 186, 40);
  --season: rgb(49, 145, 160);

  font-family: var(--font-main);
  font-family: var(--font-primary);
  font-family: var(--font-logo);
  font-family: var(--font3);
}

body {
  border: 10px solid var(--pageFrame);
  background-color: var(--outlineColor);
  font-family: var(--font-main);
  background-color: var(--backgroundColor);
  color: var(--textLight);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
  position: relative;
}
/* Buttons */

.button1 {
  background-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  padding: 8px 20px;
  border-radius: 8px;
  width: fit-content;
  transition: 0.2s;
  color: var(--textLight);
  cursor: pointer;
  box-sizing: border-box;
}

.button1:hover {
  background-color: var(--secondaryColor);
  border: 1px solid var(--primaryColor);
}

.button2 {
  color: var(--textMedium);
  background-color: var(--primaryColor);
  padding: 8px 20px;
  border-radius: 8px;
  width: fit-content;
  text-transform: uppercase;
  transition: 0.2s;
  cursor: pointer;
}

.button2:hover {
  background-color: var(--secondaryColor);
  color: var(--textLight);
}
.button3 {
  border: 2px solid var(--primaryColor);
  padding: 10px 20px;
  border-radius: 20px;
  width: fit-content;
  transition: 0.3s;
  color: var(--textLight);
  cursor: pointer;
}
.button3:hover {
  background-color: var(--secondaryColor);
}
.button4 {
  border: 2px solid var(--primaryColor);
  background-color: var(--primaryColor);
  padding: 10px 20px;
  border-radius: 20px;
  width: fit-content;
  transition: 0.3s;
  color: var(--textLight);
  cursor: pointer;
}
.button4:hover {
  background-color: var(--secondaryColor);
}

/* BUTTONS END */

.updated {
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 1px;
  margin: auto 5px;
  border-radius: 3px;
  padding: 0 5px;
  height: 22px;
  background-color: var(--red);
}

.twoLines {
  height: 4px;
  width: 100px;
  border-top: 1px solid var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
  margin: 0 auto;
}

/* text classes */

.text1 {
  font-size: 17px;
  font-weight: 400;
  color: var(--textMedium);
  line-height: 28px;
}
@media (max-width: 1000px) {
  .text1 {
    font-size: 16px;
    line-height: 23px;
  }
}
